<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.yugang.album.core">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.MediaSelector.default.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/default_provider_path" />
        </provider>

        <provider
            android:name=".InitProvider"
            android:authorities="${applicationId}.MediaSelector.initProvider"
            android:exported="false" />
    </application>
</manifest>